.path {
  fill: #d3d3d3;
  stroke: #ffffff;
  stroke-opacity: 1;
  stroke-width: 0.75;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
}

.highlight {
  fill: rgb(0, 255, 0);
}

.selected {
  fill: rgb(255, 153, 0);
}
